@model HomeEstate.Models.ResetPasswordModel

@{
    ViewData["Title"] = "Security Questions";
}

<h2>Reset Password</h2>

<form asp-controller="Login" asp-action="SecurityQuestion" method="post">
    <div class="form-group">
        <label asp-for="Answer" class="form-label">Answer</label>
        <input asp-for="Answer" class="form-control" />
        <span asp-validation-for="Answer" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
